<!DOCTYPE html>
<html>
<head>
	<title>Registering a Value</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.js"></script>
	<script type="text/javascript" src="script.js"></script>
</head>
<body ng-app="mainModule">
  <div ng-controller="mainController">
    <strong>First name:</strong> {{personInstance.firstName}}<br />
    <strong>Last name:</strong> {{personInstance.lastName}}<br />
    <strong>Full name:</strong> {{personInstance.getFullName()}}<br />
    <br />
    <label>Set the first name: <input type="text" ng-model="personInstance.firstName"/></label><br />
    <label>Set the last name: <input type="text" ng-model="personInstance.lastName"/></label>
  </div>
</body>
</html>