<!DOCTYPT html>
<html>
<head>
	<title>Multiple Controller</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.js"></script>
	<script type="text/javascript" src="script.js"></script>
</head>
<body ng-app>
	<div ng-controller="firstController">
		<h2>First Controller</h2>
		<strong>First Name: </strong> {{firstName}} <br />
		<strong>Last Name: </strong> <span ng-bind="lastName"></span> <br/>
		<strong>Full Name: </strong> {{getFullName()}} <br>
		<br />
		<label>Set First Name: <input type="text" ng-model="firstName" /></label>
		<br>
		<label>Set Last Name: <input type="text" ng-model="lastName" /></label>
	</div>
	<div ng-controller="secondController">
		<h2>Second Controller</h2>
		<strong>Frist name: </strong> {{firstName}} <br>
		<strong>Middle name: </strong> {{middleName}} <br>
		<strong>Last name: </strong> <span ng-bind="lastName"></span> <br>
		<strong>Full name: </strong> {{getFullName()}} <br>

		<label>Set First Name: <input type="text" ng-model="firstName" /></label>
		<br>
		<label>Set Middle Name: <input type="text" ng-model="middleName" /></label>
		<br>
		<label>Set Last Name: <input type="text" ng-model="lastName" /></label>
	</div>
</body>
</html>