<!DOCTYPE html>
<html>
	<head>
		<title>Mouse Events</title>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.js"></script>
		<script type="text/javascript" src="script.js"></script>
	</head>
	<body ng-app="mainModule">
		<div ng-controller="mainController">
			<h3>1. Click</h3>
			<button id="firstBtn" ng-click="onFirstBtnClick()">Click me</button>
			<strong>Result: </strong> {{onFirstBtnClickResult}} <br>
			<br>
			<h3>2. Click with Dependency Injection</h3>
			<label>Type something: <input type="text" ng-model="secondBtnInput"></label>
			<button id="secondBtn" ng-click="onSecondBtnClick(secondBtnInput)">Click me</button><br>
			<h3>Result: </h3> {{onSecondBtnClickResult}}
			<br>
			<h3>3. Double click</h3>
			Double-click the square <br>
			<img src="square.png" ng-dblclick="onDblClick()" /> <br>
			<strong>RESULT: </strong> {{onDblClickResult}} <br>
			<h3>4. Mouse down, up, enter, leave, move, over</h3>
			Move the mouse on the square <br>
			<img src="square.png" 
				ng-mousedown="onMouseDown($event)"
				ng-mouseup="onMouseUp($event)"
				ng-mouseenter="onMouseEnter($event)"
				ng-mouseleave="onMouseLeave($event)"
				ng-mousemove="onMouseMove($event)"
				ng-mouseover="onMouseOver($event)" /> <br>
			<strong>Mouse Down Result: </strong>{{onMouseDownResult}} <br>
			<strong>Mouse Up Result: </strong>{{onMouseUpResult}}<br>
			<strong>Mouse Enter Result: </strong>{{onMouseEnterResult}}<br>
			<strong>Mouse Leave Result: </strong>{{onMouseLeaveResult}}<br>
			<strong>Mouse Move Result: </strong>{{onMouseMoveResult}}<br>
			<strong>Mouse Over Result: </strong>{{onMouseOverResult}}<br>
		</div>
	</body>
</html>