<!DOCTYPE html>
<html>
	<head>
		<title>http Service</title>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.js"></script>
		<script src="script.js"></script>

		<style>
			.logTextArea
			{
			  width: 400px;
			  height: 250px;
			}
		</style>	
	</head>

	<body ng-app="mainModule">
		<div ng-controller="mainController">
			
			<h3>1. Simple GET call</h3>
			<button ng-click="simpleGetCall(true)">Call server with SUCCESS</button><br>
			<button ng-click="simpleGetCall(false)">Call server with ERROR</button><br>
			<textarea class="logTextArea">{{simpleGetCallResult}}</textarea>
			<br>

			<h3>2. GET call with parameters</h3>
			<label>Parameter 1: <input type="text" ng-model="getParam1" ng-init="getParam1 = 'param1 value'" /></label><br>
			<label>Parameter 2: <input type="text" ng-model="getParam2" ng-init="getParam2 = 'param2 value'" /></label><br>
			<button ng-click="getCall()">GET call</button><br>
			<textarea class="logTextArea">{{getCallResult}}</textarea>

		</div>
	</body>
</html>