<!DOCTYPE html>
<html>
	<head>
		<title>Array Filter</title>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.js"></script>
		<script src="script.js"></script>
		<style>
		    table
		    {
		      border-collapse: collapse;
		    }

		    table, th, td
		    {
		      border: 1px solid #e1e1e1;
		    }

		    th, td
		    {
		      padding: 6px;
		    }

		    thead
		    {
		      background-color: #fcfcfc;
		    }
		</style>
	</head>

	<body ng-app="mainModule">
		<div ng-controller="mainController">
			<h3>1. Simple substring filter</h3><br>
			<label for="filter">Filter: <input type="text" ng-model="simpleFilter" /></label>
			<table>
				<thead>
					<tr>
						<th>First name</th>
						<th>Last name</th>
						<th>Age</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="person in people | filter:simpleFilter">
						<td>{{person.firstName}}</td>
						<td>{{person.lastName}}</td>
						<td>{{person.age}}</td>
					</tr>
				</tbody>
			</table>
			<br>
		</div>
	</body>
</html>